@use "../../scss/variables" as *;
@use "../../scss/extends" as ext;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: rgba(250, 169, 53, 0.1) 0px 4px 12px;
}
.headerBox {
  width: 80%;
  margin: auto;
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgBox {
  cursor: pointer;
}
.nav {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
.unorderList {
  display: flex;
  gap: 20px;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 16px;
}
.link {
  text-decoration: none;
  color: $heading-color;
}
.item {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: $heading-color;
}
.item:hover {
  color: $secondary-color;
}
.btnBox {
  display: flex;
  gap: 10px;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}
.btn {
  padding: 7px 21px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: $heading-color;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}
.btn:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: #fff;
}
.menu {
  display: none;
  @media only screen and (max-width: 800px) {
    display: block;
  }
}
