$contact-us-bg: #cae5f4;
$primery-color: #ff7e01;
$secondary-color: #faa935;
$secondary-main-color: #26a59e;
$dark-blue-color: #012e41;
$heading-color: #0b2727;
$text-color: #6e7074;
$text-second-color: #f4f4f6;
$placeholder-color: #d9d9d9;
$error-message-color: #7bcbdb;
