@use "../scss/variables" as *;

.footer {
  background-color: #fff  ;
  padding: 4% 0;
  &__box {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__first {
      margin-bottom: 30px;
    }
  }
}
.imgBox {
  margin-bottom: 12px;
  cursor: pointer;
}
.sentence {
  width: 269px;
  color: $text-color;
  font-size: 17px;
  line-height: 25px;
  word-spacing: 2px;
  margin-bottom: 20px;
}
.iconsBox {
  display: flex;
  gap: 20px;
  color: $text-second-color;
  cursor: pointer;
  &__iconBox {
    background-color: $secondary-color;
    padding: 6px 8px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  &__iconBox:hover {
    background-color: $primery-color;
  }
}
.list {
  list-style-type: none;
  margin-bottom: 30px;
}
.heading {
  color: $heading-color;
  font-size: 25px;
  margin-bottom: 16px;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.item {
  color: $text-color;
  font-size: 17px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.item:hover {
  color: $secondary-color;
}
.hr {
  height: 1px;
  background: $text-second-color;
  border: 0;
  margin-bottom: 24px;
}
.footerSentence {
  text-align: center;
  font-size: 17px;
  color: $text-color;
  word-spacing: 2px;
}
