.container {
  width: 80%;
  margin: auto;
}

.home .hero {
  padding-top: 6%;
  background-image: url("../../photo/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .hero .firstColumn .travellingWithUs {
  font-size: 18px;
  color: #ff7e01;
  font-weight: 600;
  margin-bottom: 13px;
}
.home .hero .firstColumn .enjoyWithTourice {
  font-size: 64px;
  color: #012e41;
  font-weight: 600;
  margin-bottom: 13px;
}
@media only screen and (max-width: 425px) {
  .home .hero .firstColumn .enjoyWithTourice {
    font-size: 35px;
  }
}
.home .hero .firstColumn .paragraph {
  font-size: 16px;
  color: #345867;
  font-weight: normal;
  margin-bottom: 15px;
  max-width: 500px;
}
.home .hero .imageBox {
  width: 100%;
}
.home .hero .imageBox .secondSectionImage {
  width: 100%;
}
.home .filters {
  margin-bottom: 5%;
}
@media only screen and (max-width: 768px) {
  .home .filters {
    margin-top: 5%;
  }
}
.home .filters .box {
  padding: 20px 28px;
  border-radius: 8px;
  background-color: hsla(198, 97%, 13%, 0.7);
}
.home .filters .btnBox {
  margin-top: 25px;
}
.home .filters .findTour {
  width: 100%;
  padding: 8px 10px;
  border: none;
  margin-top: 5px;
  border-radius: 6px;
  background-color: #fa7335;
  color: #f4f4f6;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 14px;
}
.home .popularDestination {
  background-color: #f6f6f6;
  padding: 120px 0;
}
.home .popularDestination .paragraph {
  text-transform: uppercase;
  color: #ff7e01;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
}
.home .popularDestination .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.home .popularDestination .box .sentence {
  font-size: 45px;
  color: #012e41;
  font-weight: 600;
  max-width: 636px;
}
.home .popularDestination .box .btn {
  padding: 8.5px 20.5px;
  color: #fff;
  background-color: #012e41;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .home .popularDestination .box .sentence {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .home .popularDestination .box {
    flex-direction: column;
    gap: 20px;
  }
  .home .popularDestination .box .btn {
    width: 100%;
  }
}
.home .popularDestination .places .imgBox {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 48%;
}
.home .popularDestination .places .imgBox .img {
  transition: 0.3s ease-in-out;
  border-radius: 48%;
  height: 247px;
  width: 100%;
  object-fit: cover;
}
.home .popularDestination .places .imgBox:hover .img {
  overflow: hidden;
  transform: scale(1.1);
}
@media only screen and (max-width: 375px) {
  .home .popularDestination .places .imgBox .img {
    height: 180px;
  }
}
.home .resetvation {
  background-color: #012e41;
  padding: 120px 0;
}
.home .resetvation .paragraph {
  text-transform: uppercase;
  text-align: center;
  color: #ff7e01;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}
.home .resetvation .sentence {
  margin: auto;
  text-align: center;
  font-size: 45px;
  color: #fff;
  font-weight: 600;
  max-width: 636px;
  text-transform: capitalize;
  margin-bottom: 60px;
}
.home .resetvation .card {
  border-radius: 8px;
  overflow: hidden;
}
.home .resetvation .imageWrapper {
  position: relative;
  padding: 16px;
}
.home .resetvation .imageWrapper .cardImage {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home .resetvation .imageWrapper .cardImage {
    height: 180px;
  }
}
@media only screen and (max-width: 375px) {
  .home .resetvation .imageWrapper .cardImage {
    height: 200px;
  }
}
.home .resetvation .popular {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1;
}
.home .resetvation .popular .popularBtn {
  background-color: #fa7335;
  color: #fff;
}
.home .resetvation .popular .heartIcon {
  background-color: #fff;
  border-radius: 50%;
  padding: 9px;
  font-size: 16px;
}
.home .resetvation .location {
  color: rgba(0, 0, 0, 0.4509803922);
}
.home .resetvation .title {
  color: #012e41;
  font-weight: 600;
  margin: 5px 0;
}
.home .resetvation .rate {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.home .resetvation .booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .resetvation .booking .price {
  color: #012e41;
  font-weight: 600;
  font-size: 24px;
}
.home .resetvation .booking .price .person {
  font-size: 14px;
  font-weight: 500;
}
.home .resetvation .booking .bookBtn {
  background-color: #fa7335;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .home .resetvation .sentence {
    font-size: 30px;
  }
}
.home .opinionOurClient {
  padding: 120px 0;
}
.home .opinionOurClient .paragraph {
  text-transform: uppercase;
  text-align: center;
  color: #ff7e01;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}
.home .opinionOurClient .heading {
  margin: auto;
  text-align: center;
  font-size: 45px;
  color: #012e41;
  font-weight: 600;
  max-width: 660px;
  text-transform: capitalize;
  margin-bottom: 60px;
}
.home .opinionOurClient .cardTop {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.home .opinionOurClient .cardTop .avatar {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.home .opinionOurClient .cardTop .userName {
  color: #012e41;
  font-weight: 600;
  margin: 5px 0;
  font-size: 18px;
}
.home .opinionOurClient .cardTop .specialist {
  color: #345867;
  font-weight: 500;
}
.home .opinionOurClient .sentence {
  color: #345867;
  font-size: 14px;
  text-align: justify;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .home .opinionOurClient .heading {
    font-size: 30px;
  }
}
.home .featuredDestination {
  background-color: #f6f6f6;
  padding: 120px 0;
}
.home .featuredDestination .paragraph {
  text-transform: uppercase;
  text-align: center;
  color: #ff7e01;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}
.home .featuredDestination .heading {
  margin: auto;
  text-align: center;
  font-size: 45px;
  color: #012e41;
  font-weight: 600;
  max-width: 660px;
  text-transform: capitalize;
  margin-bottom: 60px;
}/*# sourceMappingURL=home.module.css.map */